@import "variables";

body {
  margin: $default_margin;
}

html {
  font-family: 'Dm Sans', sans-serif;
}

h1, 
h2,
h3 {
  font-family: 'DM Serif Display', serif;
}

h2, h3 {
  @include reset-h2-h3;
}

li {
  list-style: $none-decoration;
}

a:hover,
li a {
  text-decoration: underline;
}

@media(min-width: $min-width) {
  h2, h3 {
    @include reset-h2-h3-desktop;
  }
}