$default_margin: 0;
$bg-header: #434CCC;
$none-decoration: none;
$header-color:  #FFFFFF;
$padding-inline-start: 14px;
$text-transform: uppercase;
$z-index: 1;

// Reset texts

// gray
$text-gray-font-size: 16px;
$text-gray-line-height: 24px;
$text-gray-color: rgba(0, 0, 0, 0.5);
$text-gray-mix-blend-mode: normal;

// black
$text-black-font-size: 18px;
$text-black-line-height: 32px;
$text-black-color: #000000;

// header
$header-font-size: 40px;
$header-line-height: 48px;

// header in desktop
$desktop-font-size: 52px;
$desktop-line-height: 64px;

// display flex and icons
$display-flex: flex;
$row-direction: row;
$flex-space: space-between;
$flex-wrapping: wrap;
$align-items: center;
$icons-margin-inline-start: -39px;
$icons-max-width: 68px;

// body maximum width
$body-max-width: 80%;
$auto-margin: auto;
$body-padding-inline: 10%;

// @media
$min-width: 1200px;